@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model MusicPortal.WEB.Models.ViewModels.AuthorVM

@{
    ViewData["Title"] = "Автор - " + Model.NickName;
}
<section>
    <div class="container">
        <h3>Имя: @Model.NickName  Основной жанр: @Model.mainGenre.ToString().Replace("_", " ")</h3>
        <a>Age: @(Model.Age.ToString().Split(" ")[0])</a><br />
        <p class="text-secondary"> Bio:@Html.Raw(@Model.Biography)</p>
        <a href="@Model.linkInstagram">Instagram</a><br />
        <a href="@Model.linkYouTube">Youtube</a><br />
        <a href="@Model.linkVK">Vk</a><br />
        <a href="@Model.linkOther">Other</a><br />
        
    


            <h3 class="h3">
                Треки:
            </h3>
                @foreach (var item in ViewBag.MusicsAuthor)
                {
                                                                        
                        <h5>Название: @item.Name</h5>
                        <div>
                            <a class="">Жанр: @item.Genre</a><br />           
                        </div>
                            <div class="audio-player">
                                <audio id="audio-player" src="@wc.MusicPath@item.filesMusic" type="audio/mp3" controls="controls"></audio>
                            </div>
  
                }
    </div>
</section>
@section Scripts{
        <script>
            $(document).ready(function () {
                $('#audio-player').mediaelementplayer({
                    alwaysShowControls: true,
                    features: ['playpause', 'volume', 'progress'],
                    audioVolume: 'horizontal',
                    audioWidth: 400,
                    audioHeight: 120
                });
            });
        </script>
}