@model MusicPortal.WEB.Models.ViewModels.MusicVM
<main>
    <div class="container">
    <section>
        <h3>Music: @Model.Name</h3>
        <div>
            <a class="">Жанр: @Model.Genre</a><br />
            <a>Трек: @Model.filesMusic</a>            
        </div>
            <div class="audio-player">
                <audio id="audio-player" src="@wc.MusicPath@Model.filesMusic" type="audio/mp3" controls="controls"></audio>
            </div>
    </section>
    <!-- кнопки администрирования -->
    <section>
        <a asp-area="" asp-controller="Home" asp-action="EditMusic" asp-route-Id="@Model.Id"><input type="submit" value="Edit" /></a>
  
    </section>
    </div>
</main>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#audio-player').mediaelementplayer({
                alwaysShowControls: true,
                features: ['playpause', 'volume', 'progress'],
                audioVolume: 'horizontal',
                audioWidth: 400,
                audioHeight: 120
            });
        });
    </script>
}